doctype html
html
    head
        title= "Prashant Hedaoo's TicTacToe for CMG using NodeJS"
        link(type='text/css' href='/tictactoe.css' rel='stylesheet')
        script(src='/tictactoeFE.js')
        script(src='/socket.io/socket.io.js')
    body
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
        h1 Prashnt Hedaoo's Tic-Tac-Toe for CMG using NodeJS & jQuery with REST principles
        // - following 'content' panel displays debug messages when debug var set to true
        #content(style='width: 500px; height: 200px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
        br
        br
        h1#status
        br
        input#reset(type='button', value='Reset', style='font: bold 18px Arial; background-color:lightyellow; width: 60px; height: 40px; border: solid 3px')
        br
        br
        #game_layout
